:root {
	--main-color: rgba(66, 129, 164);
}

html, body, #page, #content, #content form {
	height: 100% !important;
	overflow: hidden;
}

#content {
	padding-bottom: 85px !important;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white !important; 
}

.my-icon {
	background-color: var(--main-color);
	width: 30px; 
	height: 30px; 
	color: white;
	font-size: 2em;
	display: inline-flex;
	align-items: center;
	border-radius: 9px;
}

.main-textarea {
	background-image: none !important;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.main-textarea:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: var(--main-color);
}

.tln-wrapper {
	border: 1px solid #aeaeae;
	border-right: none;
	border-top-left-radius: 4px; 
	border-bottom-left-radius: 4px; 
}

.other-icons {
	color: var(--main-color);
	font-size: 1.1em;
}

.other-icons:hover {
	cursor: pointer;
	filter: brightness(85%);
}

.hidden {
	visibility: hidden;
}

.copied-tooltip {
	height: 90%;
	width: 100px;
	color: white;
	background: var(--main-color);
	border-radius: 4px;
	filter: drop-shadow(1px 2px 3px black);
	text-align: center;
}

#search-bar {
	display: inline-flex; 
}
